{%include 'header.html'%}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <ul>
          <li><img src="image1.jpg" class="card-img-top" alt="Image 1"></li>
          <!-- Add content for card 1 -->
        </ul>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <ul>
          <li><img src="image2.jpg" class="card-img-top" alt="Image 2"></li>
          <!-- Add content for card 2 -->
        </ul>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <ul>
          <li><img src="image3.jpg" class="card-img-top" alt="Image 3"></li>
          <!-- Add content for card 3 -->
        </ul>
      </div>
    </div>
  </div>
</div>
